:root{
    --background-color: white;
    --text-color: black;
    --elements-color: white;
}

body.dark {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.country-details-container{
    max-width: 1100px;
    margin-inline: auto;
}

main{
    padding-top: 24px;
}

.back-btn {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 6px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.country-details {
    display: flex;
    align-items: center;
    gap: 90px;
    margin-top: 50px;
}

.country-details img {
    max-width: 500px;
    border: 1px solid #ddd;
}

.details-text {
    display: flex;
    flex-direction: column;
    gap: 12px 60px;
    max-height: 170px;
    flex-wrap: wrap;
}

.details-text p {
    margin: 0;
}

.border-countries {
    margin-top: 48px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.border-countries a{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 4px 16px;
    border-radius: 4px;
    font-size: 14px;
}

@media (max-width: 820px) {
    .country-details {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 36px;
        gap: 15px;
    }

    .details-text {
        display: flex;
        flex-direction: row;
        max-height: unset;
    }

    .country-details img {
        width: 100%;
        max-width: 400px;
    }
    main{
        padding: 24px;
    }
}
